.container{
    position: relative;
    min-height: 100vh;
}
.timer,
.timer_controls__btn,
.timer_controls__stop,
.timer_cycles__btn{
    font-family: 'Press Start 2P', cursive;
}
.timer{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.timer_clock:after{
    content: '';
    display: table;
    clear: both;
}
.timer_minutes,
.timer_seconds{
    width: 45%;
    float: left;
}
.timer_minutes{
    text-align: right;
}
.timer_seconds{
    text-align: left;
}
.timer span{
    width: 10%;
    float: left;
}
.timer_controls:after{
    content: '';
    display: table;
    clear: both;
}
button.timer_controls__btn,
button.timer_controls__stop{
    width: 48%;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    border: none;
    color: #fff;
    background-color:#34db5e;
    cursor: pointer;
    float: left;
}
button.timer_controls__btn{
    margin-right: 4%;
}
button.timer_controls__stop{
    background-color: #db5334;
}
.timer_cycles{
    margin: 10px 0 0 0;
}

.timer_cycles .timer_cycles__num{
    width: auto;
    float: none;
}

button.timer_cycles__btn{
    width: 100%;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    border: none;
    color: #fff;
    background-color:#3D9DFF;
    cursor: pointer;
}